:root{
    --font-main: 'Karla', sans-serif;

    --Cyan: hsl(179, 62%, 43%);
    --ltcyan: hsl(179, 62%, 45%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --yellow: hsl(71, 73%, 48%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body{
    background-color: var(--Light-Gray);

    font-size: 16px;
    font-family: var(--font-main);
    font-weight: 400;
    
    display: grid;
    place-content: center;
}

.banner{
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
    max-width: 600px;
    height: 100%;
}

/*join section*/

.banner-join{
    background-color: var(--white);
    padding: 2rem;
    text-align: left;
    align-items: center;
}

.join-tittle{
    font-size: 25px;
    font-weight: 700;
    color: var(--Cyan);
}

.join-subtittle{
    font-weight: 700;
    color: var(--Bright-Yellow);
    margin: 1rem 0;
}

.join-text{
    color: var(--Cyan);
    margin-bottom: 1rem;
}

/*price and Why section*/

.banner-flex{
    display: flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    text-align: center;
}

/*price section*/

.banner-price{
    background-color: var(--Cyan);
    text-align: left;
    align-items: center;
    padding: 2rem;
    color: var(--white);
}

.price-tittle{
    font-weight: 700;
    font-size: 20px;
    margin-top: 1rem;
}

.price-list{
    display: flex;
    margin: 2rem 0;
    align-items: center;
}

.price-price{
    font-weight: 700;
    font-size: 29px;
}

.price-month{
    margin-left: 1rem;
    color: var(--Light-Gray);
}

.price-text{
    margin: 1rem 0;
}

.button{
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 700;
    border: none;
    border-radius: 0.800rem;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(31, 47, 86);
}

/*Why section*/

.banner-why{
    background-color: var(--ltcyan);
    text-align: left;
    padding: 3rem;
    color: var(--white);
}

.why-tittle{
    font-weight: 700;
    font-size: 20px;
}

.why-list{
    color: var(--Light-Gray);
    margin: 1rem 0;
}

.list-content{
    padding: 0.300rem;
}

.attribution{
    margin-top: 1rem;
}

@media (max-width: 600px){
    body{
        font-size: 14px;
    }

    .banner-join{
        margin: 0;
        padding: 1rem;
    }

    .join-tittle{
        font-size: 18px;
    }

    .join-subtittle{
        font-size: 15px;
    }

    .banner-flex{
        display: grid;
        
    border-radius:  0 0 0.5rem 0.5rem;
    overflow: hidden;
    }

    .banner-price{
        margin: 0;
        padding: 1rem;
    }

    .price-tittle{
        font-size: 18px;
    }

    .price-list{
        margin: 1rem auto !important;
    }

    .price-price{
        font-size: 22px;
    }

    .banner-why{
        margin: 0;
        padding: 1rem;
    }

    .attribution{
        display: none;
    }
}
